<html>

<head>	
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<div style="width:200px;padding-left:0px;margin-left:0px;padding-left:0px;">
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left cbp-spmenu-open" id="cbp-spmenu-s1" style="overflow:auto;padding-left:0px;margin-left:0px;padding-left:0px;height:100%;background:#404040;">	
	<h3 onclick="logoClick();" style="border-bottom:1px solid black;margin:0px;">
		<ol style="color:red;display:inline-block;float:left;font-size: 25px;font-weight:500;margin:0px;padding:9px;">PeakOrFreak</ol>
	</h3>	
	<a id="studentLink" href="about.php"><ol class="leftbar_ol">About</ol></a>
	<a id="studentLink" href="youtube.php"><ol class="leftbar_ol">Youtube</ol></a>
	<a id="studentLink" href="traning_programs.php"><ol class="leftbar_ol">Training Programs</ol></a>
	<a id="studentLink" href="personal_training.php"><ol class="leftbar_ol">Personal Training</ol></a>
	<a id="studentLink" href="nutrition.php"><ol class="leftbar_ol">Nutrition</ol></a>
	<a id="studentLink" href="contact.php"><ol class="leftbar_ol">Contact</ol></a>
</nav>
</div>

<div>
	
</div>
	
</body>
</html>